PORT=5000
MONGO_URI=mongodb+srv://pawangrandhi4_db_user:ScamShield123@smartenergycluster.pc0rvck.mongodb.net/mern_ai_app?
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
